/**
 * Custom theme
 * 
 * @theme pycon-talk-theme
 * @auto-scaling false
 */

@import 'rose-pine-dawn';

pre {
  position: relative;
  padding-top: 24px; /* Add some top padding to avoid overlap */
}

pre ol {
  all: unset;
  display: grid;
  grid-template-columns: auto 1fr;
  counter-reset: line-number 0;
}

pre ol li {
  display: contents;
}

pre ol li span[data-marp-line-number]::before {
  display: block;
  content: counter(line-number) ': ';
  counter-increment: line-number;
  text-align: right;
}

pre .dimmed-line > * {
  color: #999; /* Grey color for the text */
  background-color: #f8f8f8; /* Light background */
  opacity: 0.4; /* Slightly transparent for a dimmed effect */
}

pre .highlighted-line > * {
  background-color: #ff6;
}

.code-title {
  position: absolute;
  top: 8px;
  right: 10px;
  background: #333; /* Dark background */
  color: #fff; /* White text color */
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10; /* Ensure it appears above other elements */
}
